<div class="container-fluid d-flex align-items-center" style="height: 100vh;">
  <div class="row justify-content-center w-100">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Adicionar Novo Produto</h2>
          <form (ngSubmit)="addItem()">
            <div class="mb-3">
              <label class="form-label">Nome:</label>
              <input class="form-control" [(ngModel)]="item.name" name="name" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Preço:</label>
              <input class="form-control" [(ngModel)]="item.price" name="price" type="number" required>
            </div>
            <button class="btn btn-primary" type="submit">Adicionar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
